$bg-color: #101728;
$bg-color-dark: #020818;
$bg-color-light: #d9d9d9;

$font-color-white: #fff;
$font-color-black: #000;
$font-color-red: #f60606;
$font-color-blue: #0c15eb;


$font-stack: 'Poppins', 'Ariel', sans-serif;

$background-ellipse-size: 100px;
