@use'../abstract/mixins' as *;
@use '../abstract/variables' as *;


.about{
position: sticky;
top: 0;
background: $bg-color-dark;
width: 100vw;
height: 100vh; 
padding: 0 120px 100px;
overflow: hidden;
	
    .about__ellipse{
	 @include background-glow;
	}
 
	.about__heading{
	 @include page-heading;
	}
	
	.about__wrapper{
	    
	    .about__paragraph{
		 text-align: center;
		 width: 65%;
		 margin: 20px auto;
		 color: $font-color-white;
	     font-style: normal;
	     font-weight: 700;
	     font-size: 16px;
	     line-height: 190%;
	     letter-spacing: 0.03em;
		 white-space: wrap;
		 
		    span{
		     color: $font-color-red;
		    }
     
	    }
		
		.about__skills{
		 display: flex;
		 justify-content: space-between;
		 padding: 10px;
		}
	
		.about__sub-heading{
		 text-align: center;
		 color: $font-color-white;
		 font-style: normal;
		 font-weight: 700;
		 font-size: 32px;
		 line-height: 40px;
		 letter-spacing: 0.03em;
		}
		
		.image__info{
		 position: relative;
		 width: 80px;
		 height: 80px;
		 padding-left: 60px;
		 border-radius: 50%;
		 transition: width 100ms;
		 @include flex;
		 
		 
		    span{
			 color: $font-color-black;
			 visibility: hidden;
			 padding: 0.6em;
			 font-weight: 700;
			 font-size: 0.9em;
			 cursor: default;
			}
		 
		 
		    &:hover{
			 width: 260px;
			 background: $bg-color-light;
			 border-radius: 40% 10px 10px 40%;
			 transition: width 500ms;
			 
				span{
				 visibility: visible;
				}
			}
			
			
		}
	    
	   
	
	}
}


 @keyframes pulse{
 0%{
  transform: scale(0.5);
  transform: translateY(0);
 }
 50%{
  transform: scale(1.1);
  transform: translateY(100px);
 }
 100%{
   transform: scale(0.5);
   transform: translateY(0);
 }
}
